{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'solicitudes/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 5%;">ID</th>
        <th scope="col" style="width: 5%;">Fecha</th>
        <th scope="col" style="width: 10%;">Apellido</th>
        <th scope="col" style="width: 15%;">Nombres</th>
        <th scope="col" style="width: 15%;">Carrera</th>
        <th scope="col" style="width: 15%;">Materia</th>
        <th scope="col" style="width: 5%;">Comisión</th>
        <th scope="col" style="width: 15%;">Observaciones</th>
        <th scope="col" style="width: 15%;">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}

