{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'facultad/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>

        <th scope="col" style="width: 25%;">Facultad</th>
        <th scope="col" style="width: 10%;">Localidad</th>
        <th scope="col" style="width: 15%;">Direccion</th>
        <th scope="col" style="width: 10%;">Teléfonos</th>
        <!--<th scope="col" style="width: 15%;">Web</th>-->
        <!--<th scope="col" style="width: 10%;">Logo</th>-->
        <th scope="col" style="width: 10%;">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}

