{% extends 'list.html' %}
{% load static %}
{% block columns %}
    <tr>
        <th scope="col" style="width: 10%;">Código</th>
        <th scope="col" style="width: 35%;">Pais</th>
        <th scope="col" style="width: 35%;">Provincia</th>
        <th scope="col" style="width: 20%;">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for obj in object_list %}
        <tr>
            <td>{{ obj.id_provincia }}</td>
            <td>{{ obj.id_pais.nombre }}</td>
            <td>{{ obj.nombre }}</td>
            <td class="text-center">
                <a href="{% url 'geografico:provincias_update' obj.id_provincia %}" class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'geografico:provincias_delete' obj.id_provincia %}" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
