{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'salasvirtuales/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 30%;">Plataforma</th>
        <th scope="col" style="width: 25%;">Sede</th>
        <th scope="col" style="width: 25%;">Nombre Sala</th>
        <th scope="col" style="width: 15%;">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}

