{% load static %}
<aside class="main-sidebar sidebar-light-primary elevation-4">
    <a href="{% url 'dashboard:home' %}" class="brand-link">
        <img src="{% static 'img/clock.svg' %}"
             alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-bold">Sistema de Reservas</span>
    </a>
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-newspaper"></i>
                        <p>
                            Reservas
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>

                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="fas fa-laptop-house nav-icon"></i>
                                <p>
                                    Reservas Virtuales
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'solicitudes:solicitudes_create' %}" class="nav-link">
                                        <i class="fas fa-laptop-house nav-icon"></i>
                                        <p>Generar Reserva</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'solicitudes:solicitudes_pendientes_list' %}" class="nav-link">
                                        <i class="fas fa-laptop-house nav-icon"></i>
                                        <p>Reservas Pendientes</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'solicitudes:solicitudes_list' %}" class="nav-link">
                                        <i class="fas fa-laptop-house nav-icon"></i>
                                        <p>Reservas Virtuales</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="fas fa-door-open nav-icon"></i>
                                <p>
                                    Reservas de Aulas
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-door-open nav-icon"></i>
                                        <p>Generar Reserva</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-door-open nav-icon"></i>
                                        <p>Reservas Pendientes</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-door-open nav-icon"></i>
                                        <p>Reservas de Aulas</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="fas fa-laptop nav-icon"></i>
                                <p>
                                    Reservas de Materiales
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-laptop nav-icon"></i>
                                        <p>Generar Reserva</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-laptop nav-icon"></i>
                                        <p>Reservas Pendientes</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-laptop nav-icon"></i>
                                        <p>Reservas de Materiales</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a href="{% url 'solicitudes:motivos_list' %}" class="nav-link">
                                <i class="fas fa-align-justify nav-icon"></i>
                                <p>
                                    Motivos de Reservas
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>

                        </li>
                    </ul>

                </li>

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-book-open"></i>
                        <p>
                            Libro de Temas
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-book-open nav-icon"></i>
                                <p>Libros de Temas</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-book-open nav-icon"></i>
                                <p>Detalles de Clases</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-book-open nav-icon"></i>
                                <p>Tipos de Clases</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-university"></i>
                        <p>
                            Académico
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>

                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="fas fa-pencil-alt nav-icon"></i>
                                <p>
                                    Calendario
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'calendario_academico:calendario_list' %}" class="nav-link">
                                        <i class="fas fa-pencil-alt nav-icon"></i>
                                        <p>Calendario Académico</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'calendario_academico:turnos_list' %}" class="nav-link">
                                        <i class="fas fa-pencil-alt nav-icon"></i>
                                        <p>Turnos de Exámen</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="fas fa-book nav-icon"></i>
                                <p>
                                    Carreras
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'carreras:tipo_carrera_list' %}" class="nav-link">
                                        <i class="fas fa-book nav-icon"></i>
                                        <p>Tipos de Carreras</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'carreras:carreras_list' %}" class="nav-link">
                                        <i class="fas fa-book nav-icon"></i>
                                        <p>Carreras</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="{% url 'carreras:materias_list' %}" class="nav-link">
                                        <i class="fas fa-book nav-icon"></i>
                                        <p>Materias</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'carreras:tipo_comision_list' %}" class="nav-link">
                                        <i class="fas fa-book nav-icon"></i>
                                        <p>Tipos de Comisiones</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="fas fa-book-reader nav-icon"></i>
                                <p>
                                    Cursada
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'carreras:anios_list' %}" class="nav-link">
                                        <i class="fas fa-book-reader nav-icon"></i>
                                        <p>Años de Cursado</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'carreras:periodos_list' %}" class="nav-link">
                                        <i class="fas fa-book-reader nav-icon"></i>
                                        <p>Periodos de Cursado</p>
                                    </a>
                                </li>

                            </ul>
                        </li>
                    </ul>

                </li>

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-cogs"></i>
                        <p>
                            Sistema
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>

                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="fas fa-university nav-icon"></i>
                                <p>
                                    Institucional
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'institucional:universidad_list' %}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Universidad</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'institucional:facultad_list' %}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Facultad</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'institucional:sedes_list' %}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Sedes</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="fas fa-globe-americas nav-icon"></i>
                                <p>
                                    Geográfico
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'geografico:paises_list' %}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Paises</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'geografico:provincias_list' %}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Provincias</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'geografico:localidades_list' %}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Localidades</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="fas fa-users nav-icon"></i>
                                <p>
                                    Usuarios
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'usuarios:tipo_usuario_list' %}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Tipos de Usuarios</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'usuarios:usuarios_list' %}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Usuarios</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Grupos</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Permisos</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="fas fa-tv nav-icon"></i>
                                <p>
                                    Salas Virtuales
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'plataformas:plataformas_list' %}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Plataformas</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'plataformas:salas_virtuales_list' %}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Salas</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </li>

            </ul>
        </nav>
    </div>
</aside>
